# exclude sources except bundled files
client/**
!client/out/extension.js
server/**
!server/out/server.js

# exclude all other folders, except img (linked in package.json) & except docs (linked in README.md)
.github/**
.vscode/**
.vscode-test/**
node_modules/**
scripts/**

# exclude all files, except license, package.json (machine readable metadata) and README.md
.eslintignore
.eslintrc
.gitignore
.vscodeignore
CONTRIBUTE.md
tsconfig.json
*.vsix
